{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
    <div>
        <h1>{{ date|format_datetime('full',  locale: 'fr', timezone: 'Europe/Paris') }}</h1>
    </div>
{% endblock %}